<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SentinelMail AI</title>

    <link rel="stylesheet"
    href="{{ url_for('static',filename='css/style.css') }}">

</head>

<body>

<nav>

<div class="logo">

SentinelMail AI

</div>

<ul>

{% if current_user.is_authenticated %}

<li><a href="/dashboard">Dashboard</a></li>
<li><a href="/history">History</a></li>
<li><a href="/logout">Logout</a></li>

{% else %}

<li><a href="/">Home</a></li>

<li><a href="/register">Register</a></li>

<li><a href="/login">Login</a></li>

{% endif %}

</ul>

</nav>

<div class="container">

{% with messages=get_flashed_messages(with_categories=true) %}

{% if messages %}

{% for category,message in messages %}

<div class="flash {{category}}">

{{message}}

</div>

{% endfor %}

{% endif %}

{% endwith %}

{% block content %}

{% endblock %}

</div>

<footer>

© 2026 SentinelMail AI | AI Powered Spam & Phishing Detection Platform

</footer>

</body>

</html>