{% extends "base.html" %}

{% block content %}

<form method="POST">

    <h2>Create Account</h2>

    {{ form.hidden_tag() }}

    <p>{{ form.username.label }}</p>
    {{ form.username() }}

    <p>{{ form.email.label }}</p>
    {{ form.email() }}

    <p>{{ form.password.label }}</p>
    {{ form.password() }}

    <p>{{ form.confirm_password.label }}</p>
    {{ form.confirm_password() }}

    {{ form.submit() }}

    <p class="form-footer">
        Already have an account?
        <a href="{{ url_for('auth.login') }}">Login</a>
    </p>

</form>

{% endblock %}